{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-charters-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ $button := (dict "text" .Params.Button "link" .Params.ButtonLink)}}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "backgroundPosition"
.Params.heroBackgroundPosition "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section
"parent" .Parent "button" $button "content" .)}}
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{.Content}}</div>
        <div class="calltoaction not-fareharbor">
          <a class="button button-cta" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        </div>
        <div class="calltoaction fareharbor" style="display:none;">
          <a class="button button-cta"
            href="https://fareharbor.com/embeds/book/sufishientcharters/items/{{ .Params.fareharborId }}/?full-items=yes&flow=588186">{{
            .Params.button }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
