.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 0.9rem;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: regular;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary;
        &:hover {
          background: $primary;
          color: $white;
          text-decoration: none;
        }
        &.cta {
          background: $cta;
          color: $black;
        }
        &.cta:hover {
          background: lighten($cta, 10%);
          color: lighten($black, 10%);
        }
      }
      &.active {
        > a {
          background: $primary;
          text-decoration: none;
          color: $white;
          &:hover {
            text-decoration: none;
            background: $primary;
            transition: all 225ms ease-in 0s;
            color: $white;
          }
          &.cta {
            background: $cta;
            color: $black;
          }
          &.cta:hover {
            background: lighten($cta, 10%);
            color: lighten($black, 10%);
          }
        }
      }
    }
  }
}
