{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{if .Date }}{{ dateFormat "Monday, Jan 2, 2006" .Date }}{{ end }}
      {{if .Params.author}}Author: {{.Params.Author}}{{end}}
      <div class="content">
        {{.Content}}
      </div>
    </div>
  </div>
</div>
{{ end }}
