{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "backgroundPosition" .Params.heroBackgroundPosition "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ range .Pages.ByWeight }}
  {{ if .Params.heroBackground }}
  {{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "backgroundPosition" .Params.heroBackgroundPosition "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
  {{ end }}

  <div class="container pt-15 pb-15">
    <div class="row">
      <div class="col-12">
          {{ .Content }}
          {{ if .Params.button }}
          <a class="button button-cta" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button}}</a>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ .Content }}

{{ end }}
