<div id="hero" class="hero-image hero-image-setheight bg-position-{{ .backgroundPosition | default "center"}}" style="background-image: url('{{ .background | relURL }}');">
  <div class="container ">
    <div class="hero-text">
      {{ if .parent.Permalink }}
      <a class="text-white" href="{{ .parent.Permalink }}">
      {{ end }}
        <span class="hero-section">{{ .section }}</span>
      {{ if .parent.Permalink }}
      </a>
      {{ end }}
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
      {{ if .button }}
      <div class="calltoaction">
        <a class="button button-cta" href="{{ .button.link | relURL }}">{{ .button.text }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
